body {
    background: #333333;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #cccccc;
    text-align: left;
}
h2 {
    margin: 0;
    padding: 20px 20px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background: #1b1b1b;
}

#left-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left-bar ul li {
    display: block;
}
#right-bar h2 {
    border-left: 1px solid #333333;
    box-sizing: border-box;
}

#left-bar ul li a {
    color: #a3a3a3;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

#left-bar ul li a::after {
    content: ">";
    float: right;
}

section {
    padding: 20px;
    box-sizing: border-box;
}

body,html {
    padding: 0;
    margin: 0;
}

#left-bar {
    width: 20%;
    float: left;
    background: #242424;
}

#right-bar {
    float: right;
    width: 80%;
}

#right-bar section {
    margin: 40px;
    background: #292929;
    box-sizing: border-box;
}

button {
    border-radius: 2px;
    border-color: none;
    border-width: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    padding: 10px 20px;
}

th {
    background: #333333;
}

table, td, th, td {
    border: 1px solid #333333;
}

#right-bar section table,
