body {
    background: #1d2124;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #b9cacb;
    text-align: left;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 20px 20px;
}

.head-bar {
    margin: 0;
    background: #15181a;
    border-left: 1px solid #333333;
    box-sizing: border-box;
}

.head-bar a {
    color: #ffffff;
    display: inline-block;
    line-height: 73px;
    padding: 0 20px;
    border-right: 1px solid #0b0b0b;
    text-decoration: none;
}

.new i {
    margin-left: 10px;
}

button i {
    margin-left: 5px;
}

.head-bar a i {
    margin-right: 10px;
}

.head-bar div:nth-child(1) {
    float: left;
}

.head-bar div:nth-child(2) {
    float: right;
    line-height: 73px;
    background: #b90f5d;
    height: 73px;
}

#left-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left-bar ul li {
    display: block;
}

#left-bar ul li a {
    color: #b9cacb;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    display: inline-block;
}

#left-bar ul li i {
    display: inline-block;
    width: 20px;
}

#left-bar ul li i:nth-child(3) {
    float: right;
    padding: 13px 0 13px 0;
}

section {
    padding: 20px;
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

#left-bar {
    width: 20%;
    float: left;
    background: #272c2f;
}

#right-bar {
    float: right;
    width: 80%;
}

#right-bar section {
    margin: 10px 40px 40px 40px;
    background: #272c2f;
    box-sizing: border-box;
}

button {
    border-radius: 2px;
    border-color: none;
    border-width: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 7px 11px;
}

td {
    font-size: 14px;
}

th {
    background: #404c54;
}

table, td, th, td {
    border: 1px solid #404c54;
}

.modify {
    color: #fff;
    background: #386372;
    font-size: 13px;
    padding: 2px 10px;
    cursor: pointer;
    border: 1px solid #508890;
}

.delete {
    color: #fff;
    background: #573946;
    font-size: 13px;
    padding: 2px 10px;
    cursor: pointer;
    border: 1px solid #905060;
}

.right {
    float: right;
}

h3 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

ul.pagination {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    margin-right: 2px;
    border: 1px solid #404c54;
    text-align: center;

}

li.active {
    background: #3c5e74 !important;
    border: 1px solid #467595 !important;
}

ul.pagination li a, ul.pagination li span {
    line-height: 30px;
    color: #b9cacb;
    width: 30px;
    height: 30px;
    display: block;
    text-decoration: none;
}

.new {
    color: #fff;
    background: #34bd67;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid #2bffaa;
    margin-left: 10px;
}

input[type=file] {

    margin: 15px 10px 15px 0;
    height: 26px;
    border-radius: 2px;
    border-style: none;
}

.submit {
    color: #fff;
    background: #34bd67;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid #2bffaa;
    margin: 20px 0 0 0 !important;
}

section > section {
    float: left;
    width: 100%;
    margin: 0 !important;
    padding: 20px 0;
}

input[type=text] {
    padding: 5px 10px;
    width: 400px;
    border-radius: 2px;
    border-style: none;
    clear: both;
    display: block;
    margin-bottom: 20px;
}

input[type=checkbox] {
    /*display: block;*/
}

form select {
    float: left;
    margin: 15px 10px 15px 0;
    height: 26px;
}

.other {
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    cursor: pointer;
    float: left;
    margin: 15px 15px 15px 0;
}

.alert {
    position: absolute;
    padding: 15px;
    top: 20px;
    right: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.alert-success {
    background-color: #c8eaa1;
    border: 1px solid #a6cd79;
    color: #748065;
}

#gallery {
    width: 100%;
}

#gallery .images {
    box-sizing: border-box;
    width: 21%;
    float: left;
    height: 180px;
    overflow: hidden;
    position: relative;
    margin: 1%;
}

#gallery .images span {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#gallery .images img {
    width: 100%;
}

.foot-box {
    clear: both;
    width: 100%;
    height: 0;
    font-size: 0;
}

#breadcrumbs {
    margin: 40px 40px 20px 40px;
    box-sizing: border-box;
}

.breadcrumbs-block {

    display: inline-block;

}

.breadcrumbs-block a {
    color: #79858d;
    padding: 5px;
/ / margin-right: 5 px;
    /*//background: #292929;*/
    font-size: 13px;
    opacity: 0.7;
    text-decoration: none;
}

.breadcrumbs-block i {
    font-size: 13px;
    color: #79858d;
}

.breadcrumbs-block:last-child > a {
    color: #b1bec7;
}
